<html>
    <body align="center" style="text-align: center; border: solid 2px;">
        <h1>ADD A STUDENT</h1>
        <div align="center" style="padding: 20px; border: solid 1px; width: 500px;">
        <form method="POST" action="/addCourse" style="height: auto; width: 500px; text-align:center;">
            Name: <input type="text" name="name">
            <br><br>
            Year: <input type="number" max="4" min="1" name="year">
            <br><br>
            Students Enrolled: <input type="text" name="regno">
            <br><br>
            <input type="submit">
        </form>
        </div>
    </body>
</html>