<html>
    <body>
        <h1 align="center">ADMIT A STUDENT</h1>
        <form method="POST" action="/admit">
            Registration Number: <input type="text" name="regno">
            Course Name: <input type="text" name="name">

            <input type="submit">
        </form>
    </body>
</html>